.story-header {
	font-size: 20px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: whitesmoke;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 15px;
  border-top-color: black;
border-block-color: black;

      border-top-style: solid;
      border-top-width: 8px;


}
.byline {
	 font-style: italic;
  font-size: 15px;
}

.story-copy {

	font-size: 20px;
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;


}

body {
  background-color: whitesmoke;
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 100%;
}

.iframe title {

	max-width: 100%;

}

.Image {

	width: auto;
	max max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

}

.site-banner {
text-align: center; 
border-top-color: black;
border-block-color: black;

      border-top-style: solid;
      border-top-width: 8px;
      border-bottom-width: 1px;
      padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;